
.new-homepage-wrapper.add-top-space .homepage-new-gtld-link, .new-homepage-wrapper-dark-banner.add-top-space .homepage-new-gtld-link{
	display: none;
	}
#page-header #branding {
    margin-bottom: 0px;
}

.themepluginslogos-whatsnew-bg {
    width: 344px;
    padding: 73px 0 67px 0;
    text-align: center;
    background: rgba(32,40,38, 0.8);
    border: 0;
}
